*{margin:0;padding:0;box-sizing:border-box;}

body{
    font-family:'Bebas Neue',sans-serif;
    color:#ff2b2b;
    background:black;
    overflow:hidden;
}

/* Background Video */
.video-bg{
    position:fixed;
    inset:0;
    z-index:-2;
}

#bgvid{
    width:100vw;
    height:100vh;
    object-fit:cover;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.65);
}

/* Content */
.content{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.title{
    font-size:4rem;
    letter-spacing:8px;
    text-shadow:0 0 20px red;
}

.subtitle{
    font-size:2rem;
    margin-bottom:20px;
}

.desc{
    max-width:500px;
    opacity:.85;
    line-height:1.4;
    margin-bottom:40px;
}

/* cards */
.details{
    display:flex;
    gap:20px;
    margin-bottom:40px;
}

.card{
    border:2px solid #ff2b2b;
    padding:20px;
    min-width:150px;
    background:rgba(0,0,0,.5);
    box-shadow:0 0 20px #ff2b2b;
}

/* button */
.enter-btn{
    padding:15px 40px;
    font-size:1.5rem;
    border:none;
    background:#ff2b2b;
    color:black;
    cursor:pointer;
    transition:.3s;
}

.enter-btn:hover{
    background:white;
    transform:scale(1.05);
}

/* exit transition */
.exit{
    animation:fade .7s forwards;
}
@keyframes fade{
    to{opacity:0;filter:blur(10px);}
}

/* mobile */
@media(max-width:768px){
    .title{font-size:2.5rem;}
    .details{flex-direction:column;}
}
.register-btn{
    padding:18px 50px;
    font-size:1.6rem;
    border:none;
    background:#ff2b2b;
    color:black;
    cursor:pointer;
    margin-top:30px;
    letter-spacing:2px;
    transition:.3s;
    box-shadow:0 0 25px #ff2b2b;
}

.register-btn:hover{
    background:white;
    transform:scale(1.07);
}
/* IMAGE BACKGROUND */
.bg-image{
    position:fixed;
    inset:0;
    background-image:url("cosmos-26-1/assets/images/hawkins.png");
    background-size:cover;
-    background-position:center;
    background-repeat:no-repeat;
    z-index:-2;
}

/* dark cinematic tint */
.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.65);
    z-index:-1;
}
@media (max-width:768px){
    .bg-image{
        background-position:65% center;
    }
}
